/*
 * Styles for the deck of cards
 */
 .deck {
	width: 85%;
	background: #716F71;
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

/****** Media queries
***************************/


@media (max-width: 320px) {
	.deck {
		width: 85%;
	}
}


/* For Tablets and larger screens
****************/
@media (min-width: 768px) {
	.deck {
		width: 720px;
		/* width: 660px;
		height: 680px; */
	}
}

