<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>React Components</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="../../resources/reveal.js/css/reveal.css">
    <link rel="stylesheet" href="../../resources/reveal.js/css/theme/night.css">
    <link rel="stylesheet" href="../../resources/reveal.js/lib/css/zenburn.css">
    <link rel="stylesheet" href="../../resources/prism/prism.css" />
    <style>
        body {
            background-image: url(../../resources/assets/react-logo-dark.svg);
            background-repeat: no-repeat;
            background-size: 50% auto;
            background-position: -25% -60%;
        }

        .reset-img {
            border: 0 !important;
            background: none !important;
            box-shadow: none !important;
        }
    </style>
</head>

<body>
<div class="reveal">
    <div class="slides">
        <section>
            <a style="position: fixed; left: 20px; font-size: 30px" href="../../">◀</a>
            <h3><img class="reset-img" style="margin: 0" width="100px" src="../../resources/assets/lego.png">Components</h3>
        </section>
        <section>
            <i>
                "Components let you split the UI into independent, reusable pieces, and think about each piece in isolation."
            </i>
        </section>
        <section>
            <div style="display: flex; flex-direction: column; width: 500px; margin: auto;">
                <div style="display: flex; justify-content: space-between; margin: 10px 0 10px 0;">Reusable <img height="50px" style="margin: 0" class="reset-img" src="../../resources/assets/components_reusable.png" /></div>
                <div style="display: flex; justify-content: space-between; margin: 10px 0 10px 0;">Isolated <img height="50px" style="margin: 0" class="reset-img" src="../../resources/assets/components_isolated.png" /></div>
                <div style="display: flex; justify-content: space-between; margin: 10px 0 10px 0;">Composable <img height="50px" style="margin: 0" class="reset-img" src="../../resources/assets/components_composable.png" /></div>
            </div>
        </section>
        <section>
            <h3>Native API</h3>
            <pre><code class="language-javascript" data-trim>document.createElement(tagName[, options])

// example
const Button = (props) => {
  const btn = document.createElement('button');
  btn.textContent = props.value;
  btn.addEventListener('click', props.onClick);
  return btn;
}</code></pre>
        </section>
        <section>
            <img class="reset-img" height="100px" src="../../resources/assets/react_logo_wordmark.png">
            <h3>Meet React.js</h3>
        </section>
        <section>
            <h3>Creating React component</h3>
            <pre><code class="language-javascript" data-trim>
React.createElement(
  type,
  [props],
  [...children]
)

// example
React.createElement('h1', {}, 'Hello React!');
          </code></pre>
        </section>
        <section>
            <h3>Render using ReactDOM</h3>
            <pre><code class="language-javascript" data-trim>
ReactDOM.render(element, container[, callback])

// example
const Title = React.createElement('h1', {}, 'Hello React!');
ReactDOM.render(Title, document.getElementById('root'));
        </code></pre>
        </section>
        <section>
            <h3>Composing Components</h3>
            <img class="reset-img" src="../../resources/assets/components-tree-1.png">
        </section>
        <section>
            <h3>Composing Components</h3>
            <img class="reset-img" src="../../resources/assets/components-tree-2.png">
        </section>
        <section data-transition="slide-in none-out">
            <img style="display: inline-block; margin: 0;" class="reset-img" height="70px" src="../../resources/assets/jsx-logo.png">
            <h3 style="display: inline-block;">JSX - The declarative way</h3>
            <pre><code class="language-markup" data-trim>
// JSX syntax
&lt;type [...props]>[...children]&lt;/type>

// Transpiled JS using React.createElement:
React.createElement(
  type,
  [props],
  [...children]
)
          </code></pre>
        </section>
        <section data-transition="none-in slide-out">
          <pre><code class="language-jsx" data-trim>
// example

const Title = () => (&lt;h1>Hello React!&lt;/h1>);

// Transpiles to:
const Title = () => React.createElement('h1', {}, 'Hello React!');
          </code></pre>
        </section>
        <section>
            <h3>Components tree</h3>
            <img class="reset-img" src="../../resources/assets/components-intro.png">
        </section>
        <section>
        <pre><code class="language-jsx" data-trim>// example
const Title = () => (&lt;h1>Hello React!&lt;/h1>);
const Container = () => (&lt;div>
                            Parent
                            &lt;Title />
                         &lt;/div>);

// Result:
&lt;div>
  Parent
  &lt;h1>Hello React!&lt;/h1>
&lt;/div>
        </code></pre>
        </section>
        <section>
            <img class="reset-img" style="margin: 0" width="200px" src="../../resources/assets/communication.png">
            <h3>Communicate Between Components</h3>
        </section>
        <section data-transition="slide-in none-out">
            <h3>Parent > Child</h3>
            <pre><code class="language-jsx" data-trim>
const Header = (props) => (&lt;h1>{props.title}&lt;/h1>);

// Usage:
&lt;Header title="Hello React!" />
// or
&lt;Header title={'Hello React!'} />

// Result:
&lt;h1>Hello React!&lt;/h1>
          </code></pre>
            <br><br>
            <p style="font-size: 22px;">props are read-only!!!</p>
        </section>
        <section data-transition="none-in slide-out">
            <h3>Parent > Child</h3>
            <pre><code class="language-jsx" data-trim>
const Header = ({title}) => (&lt;h1>{title}&lt;/h1>);

// Usage:
&lt;Header title="Hello React!" />
// or
&lt;Header title={'Hello React!'} />

// Result:
&lt;h1>Hello React!&lt;/h1>
          </code></pre>
            <br><br>
            <p style="font-size: 22px;">props are read-only!!!</p>
        </section>
        <section>
            <h3>Parent < Child</h3>
            <pre><code class="language-jsx" data-trim>
const Header = ({title, onPress}) =>
                    (&lt;h1 onClick={onPress}>{title}&lt;/h1>);

// Usage:
&lt;Header onPress={() => alert('clicked!')} title="Press here" />
          </code></pre>
            <br><br>
            <p style="font-size: 22px;">props are read-only!!!</p>
        </section>
        <section>
            <img class="reset-img" src="../../resources/assets/parent-child.png">
        </section>
        <section>
            <h3>Components composition</h3>
            <pre><code class="language-jsx" data-trim>const Container = ({children}) => (&lt;p>Content is: {children}&lt;/p>);
const Title = ({value}) => (&lt;h1>{value}&lt;/h1>);

// Usage:
&lt;Container>
  &lt;Title value="Hello React!" />
&lt;/Container>

// Result:
&lt;p>
    Content is: &lt;h1>Hello React!&lt;/h1>
&lt;/p>
          </code></pre>
        </section>
        <section>
            <img class="reset-img" height="100px" src="../../resources/assets/react-ts.png">
            <h3>Meet React.ts</h3>
        </section>
        <section>
            <h3>Function component</h3>
            <pre><code class="language-tsx" data-trim>import * as React from 'react';

interface HeaderProps {
  title: string;
  onClick: () => void;
}

const Header: React.FC&lt;HeaderProps> = ({title, onClick}) =>
                          (&lt;h1 onClick={onClick}>{title}&lt;/h1>);



        </code></pre>
        </section>
        <section>
            <h3>Class component</h3>
            <pre><code class="language-tsx" data-trim>import * as React from 'react';

interface HeaderProps {
  title: string;
  onClick: () => void;
}

class Header extends React.Component&lt;HeaderProps>{
  render() {
      return
      (&lt;h1 onClick={this.props.onClick}>{this.props.title}&lt;/h1>);
  }
}
          </code></pre>
        </section>
        <section>
            <h3>Rendering lists in jsx</h3>
            <pre><code class="language-tsx" data-trim>const items = [{id: 32, name: 'First'},{id: 43, name: 'Second'}];

const List: React.FC = () =>
            (&lt;ul>
                {items.map(item =>
                      (&lt;li key={item.id}>{item.name}&lt;/li>))
                }
            &lt;/ul>);</code>
<code class="language-html">// Result
&lt;ul>
  &lt;li>First&lt;/li>
  &lt;li>Second&lt;/li>
&lt;/ul></code></pre>
        </section>
        <section>
            <h3>🛠 Try it</h3>
            <div style="text-align: left; font-size: 38px;">
                <ul>
                    <li><pre><code class="language-markup">git checkout chapter-2</code></pre></li>
                    <li>create app components</li>
                    <li>use mock cards and display the game board</li>
                </ul>
            </div>
        </section>
        <section>
            <img class="reset-img" src="../../resources/assets/final-app-components-1.png" />
        </section>
        <section>
            <img class="reset-img" src="../../resources/assets/final-app-components-2.png" />
        </section>

        <section>
            <a style="position: fixed; left: 20px; font-size: 30px" href="../../">◀</a>
            <h3><img class="reset-img" style="margin: 0" width="100px" src="../../resources/assets/lego.png">Components</h3>
        </section>
        <section>
            <img class="reset-img" height="60%" width="60%" src="../../resources/assets/components-split-animation.gif">
        </section>
        <section>
            <h3>🍕 Components Types</h3>
        </section>
        <section>
            <h3>Functional Components</h3>
            <pre><code class="language-jsx" data-trim>interface AppProps {
    name: string;
}

// Functional Component
const App: React.FC&lt;AppProps> = ({ name }) =>
                                      (&lt;h1>Hello {name}!&lt;/h1>);</code></pre>
        </section>
        <section>
            <h3>Class Components</h3>
            <pre><code class="language-tsx" data-trim>interface ComponentProps {
  name: string;
  onClick(): void;
}

// Class Component
class ComponentName extends React.Component&lt;ComponentProps>{
  render() {
      return (&lt;h1>Hello {this.props.name}!&lt;/h1>)
  }
}</code></pre>
        </section>
        <section>
            <img class="reset-img" style="margin: 0" height="100px" src="../../resources/assets/internal-storage.png">
            <h3>Component Internal State</h3>
        </section>
        <section>
            <h3>this.state</h3>
            <ul>
                <li>Stores only <a>private</a> information</li>
                <li><a>Not exposed</a> to other components</li>
                <li>Is <a>read-only</a></li>
            </ul>
        </section>
        <section>
            <h3>Define and initialize the state</h3>
            <pre><code class="language-tsx" data-trim>
interface CounterState {
  count: number;
}

class Counter extends React.Component<CounterProps, CounterState>{
  constructor(props: CounterProps) {
    super(props);
    this.state = {count: 0};
  }

  render() {
      return &lt;button>Count: {this.state.count}&lt;/button>
  }
}</code></pre>
        </section>
        <section>
            <h3>Changing component state</h3>
            <pre><code class="language-tsx" data-trim>class Counter extends React.Component&lt;CounterProps, CounterState>{
  constructor(props: CounterProps){/**/}

  increment = () => {
    this.setState({
      count: this.state.count + 1
    });
  }

  render() {
      return (
        &lt;button onClick={this.increment}>
          {this.state.count}
        &lt;/button>);
  }
}
</code></pre>
        </section>
        <section data-transition="slide-in none-out">
            <h3>State derived from previous state</h3>
            <pre><code class="language-tsx" data-trim>
class Counter extends React.Component<CounterProps, CounterState>{
  ...
  increment() {
    this.setState((prevState) => {
      return {
        count: prevState + 1
      }
    });
  }
  ...
}
</code></pre>
        </section>
        <section data-transition="none-in slide-out">
            <h3>State derived from previous state</h3>
            <pre><code class="language-tsx" data-trim>class Counter extends React.Component<CounterProps, CounterState>{
  ...
  increment() {
    this.setState((prevState) => ({
        count: prevState + 1
    }));
  }
  ...
}


</code></pre>
        </section>
        <section>
            <h3>State with hooks API!</h3>
        </section>
        <section>
            <h3>useState</h3>
            <pre><code class="language-tsx" data-trim>
import React, { useState } from "react";

export const Counter: FC = () => {
  const [ count, setCount ] = useState(0);
  return (
    &lt;button onClick={() => setCount(count + 1)}>
      Count: {count}
    &lt;/button>);
};
        </code></pre>
        </section>
        <section>
            <img class="reset-img" src="../../resources/assets/simba.jpg">
            <h3>Components Lifecycle</h3>
        </section>
        <section data-transition="slide-in none-out">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-born.png"><h5>Mount</h5></div>
                <div style="width: 200px; height: 200px; background: transparent;"></div>
                <div style="width: 200px; height: 200px; background: transparent;"></div>
            </div>
        </section>
        <section data-transition="none-in none-out">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-born.png"><h5>Mount</h5></div>
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-update.png"><h5>Update</h5></div>
                <div style="width: 200px; height: 200px; background: transparent;"></div>
            </div>
        </section>
        <section data-transition="none-in slide-out">
            <div style="display: flex; justify-content: space-between; align-items: center">
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-born.png"><h5>Mount</h5></div>
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-update.png"><h5>Update</h5></div>
                <div><img class="reset-img" width="200px" height="200px" src="../../resources/assets/lifecycle-death.png"><h5>Unmount</h5></div>
            </div>
        </section>
        <section>
            <img class="reset-img" src="../../resources/assets/component-lifecycle.jpeg">
        </section>
        <section>
            <div style="font-size: 30px;">
<pre><code class="language-typescript" data-trim>class Component&lt;P, S> {
    constructor(props: Readonly&lt;P>): void {/**/}
    static getDerivedStateFromProps?: (nextProps: Readonly&lt;P>, prevState: S) => Partial&lt;S> | null {/**/}

    shouldComponentUpdate?(nextProps: Readonly&lt;P>, nextState: Readonly&lt;S>, nextContext: any): boolean {/**/}

    render(): ReactNode {/**/}
    getSnapshotBeforeUpdate?(prevProps: Readonly&lt;P>, prevState: Readonly&lt;S>): SS | null {/**/}

    componentDidMount?(): void {/**/}
    componentDidUpdate?(prevProps: Readonly&lt;P>, prevState: Readonly&lt;S>, snapshot?: SS): void {/**/}
    componentWillUnmount?(): void {/**/}
}
</code></pre>
            </div>
        </section>
        <section>
            <h3>Lifecycle hooks with hooks API!</h3>
        </section>
        <section>
            <h3>useEffect</h3>
            <pre><code class="language-tsx" data-trim>
import React, { useState, useEffect } from 'react';

interface FriendStatusProps {
  friend: Friend;
}
interface Friend {
  id: string;
}

export const FriendStatus: FC<FriendStatusProps> = (props) => {
  const [isOnline, setIsOnline] = useState(null);

  function handleStatusChange(status) {
    setIsOnline(status.isOnline);
  }

  useEffect(() => {
    ChatAPI.subscribeToFriendStatus(props.friend.id, handleStatusChange);

    return () => {
      ChatAPI.unsubscribeFromFriendStatus(props.friend.id, handleStatusChange);
    };
  });

  if (isOnline === null) {
    return 'Loading...';
  }
  return isOnline ? 'Online' : 'Offline';
}
        </code></pre>
        </section>
        <section>
            <h3>Rules of Hooks</h3>
            <ul>
                <li>
                    <h4>Only Call Hooks at the Top Level</h4>
                    <p>Don’t call Hooks inside loops, conditions, or nested functions.</p>
                </li>
                <li>
                    <h4>Only Call Hooks from React Functions</h4>
                    <p>Don’t call Hooks from regular JavaScript functions.</p>
                </li>
            </ul>
        </section>
        <section>
            <h3>Custom Hooks</h3>
            <pre><code class="language-tsx" data-trim>
 export function useScrollPosition(): ScrollPosition {
  const [position, setScrollPosition] = useState<ScrollPosition>(getScrollPosition());
  useEffect(() => {
    let requestRunning: number | null = null;
    function handleScroll() {
      if (requestRunning === null) {
        requestRunning = window.requestAnimationFrame(() => {
          setScrollPosition(getScrollPosition());
          requestRunning = null;
        });
      }
    }
    window.addEventListener('scroll', handleScroll);
    return () => window.removeEventListener('scroll', handleScroll);
  }, []);
  return position;
}
          </pre></code>
        </section>
        <section>
            <h3>Using useScrollPosition custom Hook</h3>
            <pre><code class="language-tsx" data-trim>
const ScrollStatus: FC = () => {
  const { x, y } = useScrollPosition();
  return `X scroll is: ${x}. Y scroll is: ${y}`;
}
         </code></pre>
        </section>
        <section>
            <h3>🎨 Browser rendering</h3>
        </section>
        <section>
            <div style="display: flex; justify-content: space-between">
                <div>
                    <h5>Webkit (Safari)</h5>
                    <img class="reset-img" src="../../resources/assets/flow-webkit.png" />
                </div>
                <div>
                    <h5>Gecko (Firefox)</h5>
                    <img class="reset-img" src="../../resources/assets/flow-gecko.png" />
                </div>
            </div>
        </section>
        <section data-transition="slide-in none-out">
            <h3>DOM Tree</h3>
            <img class="reset-img" src="../../resources/assets/flow-webkit-01.png"/>
        </section>
        <section data-transition="none-in none-out">
            <h3>Render Tree</h3>
            <img class="reset-img" src="../../resources/assets/flow-webkit-02.png"/>
        </section>
        <section data-transition="none-in none-out">
            <h3>Layout</h3>
            <img class="reset-img" src="../../resources/assets/flow-webkit-03.png"/>
        </section>
        <section data-transition="none-in slide-out">
            <h3>Paint</h3>
            <img class="reset-img" src="../../resources/assets/flow-webkit.png"/>
        </section>
        <section>
            <ul>
                <li style="margin: 40px 0">Each DOM change goes through all steps starting from the creation of the DOM tree to painting.</li>
                <li style="margin: 40px 0">Each manipulation can trigger layout changes, tree modifications and rendering.</li>
            </ul>
        </section>
        <section>
            <h3>⚡️ React Virtual DOM</h3>
        </section>
        <section>
            <img class="reset-img" height="60%" width="60%" src="../../resources/assets/virtual-dom.png">
            <ul>
                <li>Groups multiple DOM manipulations</li>
                <li>Keeps track of changed nodes</li>
            </ul>
        </section>
        <section>
            <h3>Additional resources</h3>
            <ul>
                <li><a href="https://www.html5rocks.com/en/tutorials/internals/howbrowserswork/">How browsers work</a></li>
                <li><a href="https://hashnode.com/post/the-one-thing-that-no-one-properly-explains-about-react-why-virtual-dom-cisczhfj41bmssp53mvfwmgrq">Why Virtual DOM</a></li>
                <li><a href="https://reactjs.org/docs/reconciliation.html">React reconciliation</a></li>
            </ul>
        </section>
        <section>
            <h3>🛠 Try it</h3>
            <div style="text-align: left; font-size: 28px;">
                1. Create App component that compose all game components<br>
                2. App component state holds:<br>
                <div style="margin-left: 40px">
                    - shuffled cards list<br>
                    - matched cards<br>
                    - selected card 1<br>
                    - selected card 2<br>
                    - moves<br>
                    - elapsed time<br>
                </div>
                3. Update the App state as user interacts with the game.<br>
            </div>
        </section>
    </div>

</div>
<script src="../../resources/reveal.js/lib/js/head.min.js"></script>
<script src="../../resources/reveal.js/js/reveal.js"></script>
<script>
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,
        transition: 'slide', // none/fade/slide/convex/concave/zoom
        dependencies: [
            { src: '../../resources/reveal.js/lib/js/classList.js', condition: function () { return !document.body.classList; } },
            // { src: '../../resources/reveal.js/plugin/markdown/marked.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
            // { src: '../../resources/reveal.js/plugin/markdown/markdown.js', condition: function () { return !!document.querySelector('[data-markdown]'); } },
            // { src: '../../resources/reveal.js/plugin/highlight/highlight.js', async: true, callback: function () { hljs.initHighlightingOnLoad(); } },
            { src: '../../resources/reveal.js/plugin/zoom-js/zoom.js', async: true },
            { src: '../../resources/reveal.js/plugin/notes/notes.js', async: true }
        ]
    });
</script>
<script src="../../resources/prism/prism.js"></script>
</body>

</html>
