.logo {
    text-align: center;
    margin: auto;
}

.logo.large b{
    font-size: 200px;
}

.logo.small b{
    font-size: 40px;
}

.logo b{
    font: 100 15vh "Vibur";
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}

.logo b span{
    animation: blink linear infinite 2s;
}